td:first-child {
  width: 20%;
}

#washPreTreatment tr:first-child td:nth-child(4) {
  width: 50%;
}

#washPreTreatment tr:first-child td:nth-child(2) {
  width: 8%;
}

#washPreTreatment tr:first-child td:nth-child(3) {
  width: 12%;
}

.input-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
  border-radius: 3px;
}
