.Article_groupStyles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Article_groupBadgeStyles {
  background-color: #EBECF0;
  border-radius: 2em;
  color: #172B4D;
  font-size: 12;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  min-width: 1;
  padding: 0.16666666666667em 0.5em;
  text-align: center;
}

.pretreatment1Result {
  padding: 0 0.5rem;
}

.btn-reset {
  color: #7c7e835c;
}
.btn-reset:hover {
  color: #a00170;
}
