.uploadedFiles {
  border: 1px solid rgba(166, 188, 212, 0.5);
  padding: 1em;
  margin-bottom: 0.5em;
  width: 100%;
  font-size: 0.9em;
  display: inline-block;
}

.trashFile {
  margin-left: 2em;
  font-size: medium;
}
a:hover {
  text-decoration: none;
}
