body {
    font-size: 12px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

label, p {
    font-weight: 200;
}
.navbar-light {
    font-size: 1.2em;
    background-color: rgba(166, 188, 212, 0.5)
}

a.nav-item {
    font-size: 1.1em;
}