body {
    font-size: 12px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

label, p {
    font-weight: 200;
}
.navbar-light {
    font-size: 1.2em;
    background-color: rgba(166, 188, 212, 0.5)
}

a.nav-item {
    font-size: 1.1em;
}

.oi-thumb-up, .oi-circle-check {
    color: green;
}

.oi-circle-x {
    color: red;
}

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
